@model TestCenter.ViewModels.AgentViewModel


<form asp-action="AddAgent" asp-controller="UI" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    
    <input type="hidden" asp-for="Id"/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Agent Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IPAddress" class="control-label">Agent IP Adress</label>
        <input type="url" asp-for="IPAddress" class="form-control" />
        <span asp-validation-for="IPAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Port" class="control-label">Agent Port</label>
        <input type="number" asp-for="Port" class="form-control" />
        <span asp-validation-for="Port" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Environment" class="control-label">Environment</label>
        <select id="formrow-inputEnv" class="form-control" disabled>
            <option selected>@Model.Environment</option>
        </select>
        <span asp-validation-for="Environment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AgentDirPath" class="control-label">Agent Directory Path</label>
        <input type="text" asp-for="AgentDirPath" class="form-control" />
        <span asp-validation-for="AgentDirPath" class="text-danger"></span>
    </div>
    
    <div class="form-group">
    
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="formrow-customCheck">
            <label class="custom-control-label" for="formrow-customCheck">Start Agent after adding</label>
        </div>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary w-md">Submit</button>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
