<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">TEST CENTER</li>

                <li>
                    <a href=@Url.Action("Index", "Dashboard") class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-default">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href=@Url.Action("Index", "Calendar") class="waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span key="t-calendar">Progress</span>
                    </a>
                </li>

                <li>
                    <a href=@Url.Action("Index", "Chat") class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Results</span>
                    </a>
                </li>


            </ul>
        </div>
        <!-- Sidebar -->

    </div>
</div>
<!-- Left Sidebar End -->


