
@{
    ViewBag.Title = "Test Center";
    ViewBag.pTitle = "Test Center";
    ViewBag.pageTitle = "Test Center";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div class="table-responsive">
                <table class="table project-list-table table-nowrap table-centered table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 100px">#</th>
                            <th scope="col">IP ADDRESS</th>
                            <th scope="col">START TIME</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="bx bx-desktop" style="font-size: 28px; color: #72BB53;"></i></td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">New admin Design</a></h5>
                                <p class="text-muted mb-0">It will be as simple as Occidental</p>
                            </td>
                            <td>15 Oct, 19</td>
                            <td><span class="badge badge-secondary" style="font-size: 14px;">Completed</span></td>

                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#centerSettings">Settings</a>
                                        <a class="dropdown-item" href="#">Start</a>
                                        <a class="dropdown-item" href="#">Stop</a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-12">
        <div class="page-title-box d-flex align-items-center">
            <h4 class="mb-0 font-size-18">AGENTS</h4>

        </div>
        <div class="d-flex">
            <div class="mr-auto">
                <button type="button" class="btn btn-outline-secondary waves-effect" data-toggle="modal" data-target="#addAgent">Add Agent</button>
            </div>

        </div>
    </div>

    <div class="col-lg-12">
        <div class="">
            <div class="table-responsive">
                <table class="table project-list-table table-nowrap table-centered table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 100px">#</th>
                            <th scope="col">IP ADDRESS</th>
                            <th scope="col">START TIME</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="bx bx-desktop" style="font-size: 28px; color: #72BB53;"></i></td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">New admin Design</a></h5>
                                <p class="text-muted mb-0">It will be as simple as Occidental</p>
                            </td>
                            <td>15 Oct, 19</td>
                            <td><span class="badge badge-secondary" style="font-size: 14px;">Completed</span></td>

                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addAgent">Settings</a>
                                        <a class="dropdown-item" href="#">Start</a>
                                        <a class="dropdown-item" href="#">Stop</a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><i class="bx bx-desktop" style="font-size: 28px; color: #E61610;"></i></td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">New admin Design</a></h5>
                                <p class="text-muted mb-0">It will be as simple as Occidental</p>
                            </td>
                            <td>15 Oct, 19</td>
                            <td><span class="badge badge-secondary" style="font-size: 14px;">Completed</span></td>

                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addAgent">Settings</a>
                                        <a class="dropdown-item" href="#">Start</a>
                                        <a class="dropdown-item" href="#">Stop</a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">SCENARIOS</h4>

        </div>

        <div class="d-flex">
            <div class="mr-auto">
                <button type="button" class="btn btn-outline-secondary waves-effect" data-toggle="modal" data-target="#addScenario">Add Scenario</button>
            </div>

        </div>
    </div>

    <div class="col-lg-12">
        <div class="">
            <div class="table-responsive">
                <table class="table project-list-table table-nowrap table-centered table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 100px">#</th>
                            <th scope="col">NAME</th>
                            <th scope="col">START TIME</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="bx bx-list-check" style="font-size: 28px; color: #72BB53;"></i></td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">New admin Design</a></h5>
                                <p class="text-muted mb-0">It will be as simple as Occidental</p>
                            </td>
                            <td>15 Oct, 19</td>
                            <td><span class="badge badge-secondary" style="font-size: 14px;">Completed</span></td>

                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addScenario">Configure</a>
                                        <a class="dropdown-item" href="#">Start</a>
                                        <a class="dropdown-item" href="#">Stop</a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><i class="bx bx-list-check" style="font-size: 28px; color: #E61610;"></i></td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">New admin Design</a></h5>
                                <p class="text-muted mb-0">It will be as simple as Occidental</p>
                            </td>
                            <td>15 Oct, 19</td>
                            <td><span class="badge badge-secondary" style="font-size: 14px;">Completed</span></td>

                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addScenario">Configure</a>
                                        <a class="dropdown-item" href="#">Start</a>
                                        <a class="dropdown-item" href="#">Stop</a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-12 m-lg-2">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">PROGRESS</h4>

        </div>

        <div class="d-flex">
            <div class="mr-auto">
                <button type="button" class="btn btn-outline-secondary waves-effect" data-toggle="modal" data-target=".exampleModal">Detailed View</button>
            </div>

        </div>
    </div>

    <div class="col-xl-12">
        <div class="row">
            <div class="col-md-3">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">Stage</p>
                                <h4 class="mb-0">Creating device folders</h4>
                            </div>

                            <div class="mini-stat-icon avatar-sm rounded-circle bg-secondary align-self-center">
                                <span class="avatar-title bg-secondary">
                                    <i class="bx bx-copy-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">Number of devices</p>
                                <h4 class="mb-0">400</h4>
                            </div>

                            <div class="avatar-sm rounded-circle bg-secondary align-self-center mini-stat-icon">
                                <span class="avatar-title rounded-circle bg-secondary">
                                    <i class="bx bx-archive-in font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">Number of events</p>
                                <h4 class="mb-0">26,356</h4>
                            </div>

                            <div class="avatar-sm rounded-circle bg-secondary align-self-center mini-stat-icon">
                                <span class="avatar-title rounded-circle bg-secondary">
                                    <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">Devices finished</p>
                                <h4 class="mb-0">0</h4>
                            </div>

                            <div class="avatar-sm rounded-circle bg-secondary align-self-center mini-stat-icon">
                                <span class="avatar-title rounded-circle bg-secondary">
                                    <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->

        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4 float-sm-left">AWS Resources</h4>
                <div class="float-sm-right">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Facade service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Device service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Processing service</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>

                <div id="line_chart_datalabel" class="apex-charts" dir="ltr"></div>

            </div>
        </div>
    </div>

</div>
<!-- end row -->
<!-- Modal -->
<div id="addAgent" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agent Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="formrow-firstname-input">Agent name</label>
                        <input type="text" class="form-control" id="formrow-firstname-input">
                    </div>

                    <div class="form-group">
                        <label for="formrow-agentip-input">Agent IP Adress</label>
                        <input type="url" class="form-control" id="formrow-agentip-input">
                    </div>


                    <div class="form-group">
                        <label for="formrow-port-input">Agent Port</label>
                        <input type="number" class="form-control" id="formrow-port-input">
                    </div>


                    <div class="form-group">
                        <label for="formrow-inputEnv">Environment</label>
                        <select id="formrow-inputEnv" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="formrow-inputLog">Log Folder</label>
                        <input type="text" class="form-control" id="formrow-inputLog">
                    </div>

                    <div class="form-group">

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="formrow-customCheck">
                            <label class="custom-control-label" for="formrow-customCheck">Start Agent after adding</label>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary w-md">Submit</button>
                    </div>

                </form>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- end modal -->
<!-- Modal -->
<div id="centerSettings" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Test Center Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>

                    <div class="form-group">
                        <label for="formrow-agentip-input">Test Center IP Adress</label>
                        <input type="url" class="form-control" id="formrow-agentip-input">
                    </div>


                    <div class="form-group">
                        <label for="formrow-port-input">Test Center Port</label>
                        <input type="number" class="form-control" id="formrow-port-input">
                    </div>


                    <div class="form-group">
                        <label for="formrow-inputEnv">Environment</label>
                        <select id="formrow-inputEnv" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="formrow-inputLog">Log Folder</label>
                        <input type="text" class="form-control" id="formrow-inputLog">
                    </div>

                    <div class="form-group">
                        <label for="formrow-inputResults">Results Folder</label>
                        <input type="text" class="form-control" id="formrow-inputResults">
                    </div>

                    <div class="form-group">
                        <label for="formrow-inputScripts">Scripts Results Folder</label>
                        <input type="text" class="form-control" id="formrow-inputScripts">
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary w-md">Submit</button>
                    </div>

                </form>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- end modal -->
<!-- Modal -->
<div id="addScenario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Scenario Configuration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>

                    <div class="form-group">
                        <label for="formrow-scname-input">Scenario Name</label>
                        <input type="url" class="form-control" id="formrow-scname-input">
                    </div>


                    <div class="form-group">
                        <label for="formrow-devices-input">Number of devices</label>
                        <input type="number" class="form-control" id="formrow-devices-input">
                    </div>


                    <div class="form-group">
                        <label for="formrow-inputInsertion">Insertion Strategy</label>
                        <select id="formrow-inputInsertion" class="form-control">
                            <option selected>Choose...</option>
                            <option>Delete only missing & insert new</option>
                            <option>Delete all & insert new</option>
                            <option>Only insert new</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="formrow-inputMin">Minutes for server to wait for agents to connect</label>
                        <input type="number" class="form-control" id="formrow-inputMin">
                    </div>

                    <div class="form-group">
                        <label for="formrow-inputStopAws">Stop AWS ECS Services</label>
                        <select id="formrow-inputStopAws" class="form-control">
                            <option selected>Choose...</option>
                            <option>NO</option>
                            <option>YES</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="formrow-inputMinStop">Minutes for AWS ECS services to be stopped</label>
                        <input type="number" class="form-control" id="formrow-inputMinStop">
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary w-md">Submit</button>
                    </div>

                </form>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- end modal -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- apexcharts -->
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>


<script type="text/javascript">
    var options = {
        chart: {
            height: 380,
            type: 'line',
            zoom: {
                enabled: false
            },
            toolbar: {
                show: false
            }
        },
        colors: ['#556ee6', '#34c38f'],
        dataLabels: {
            enabled: false,
        },
        stroke: {
            width: [3, 3],
            curve: 'straight'
        },
        series: [{
            name: "CPUUtilization",
            data: [26, 24, 32, 36, 33, 31, 33]
        },
        {
            name: "MemoryUtilization",
            data: [14, 11, 16, 12, 17, 13, 12]
        }
        ],
        title: {
            text: 'Max CPU & Memory utilization',
            align: 'left',
            style: {
                fontWeight: '500',
            },
        },
        grid: {
            row: {
                colors: ['transparent', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.2
            },
            borderColor: '#f1f1f1'
        },
        markers: {
            style: 'inverted',
            size: 6
        },
        xaxis: {
            categories: ['12:01', '12:02', '12:03', '12:04', '12:05', '12:06', '12:07'],
            title: {
                text: 'Time'
            }
        },
        yaxis: {
            title: {
                text: 'Percent %'
            },
            min: 5,
            max: 40
        },
        legend: {
            position: 'top',
            horizontalAlign: 'right',
            floating: true,
            offsetY: -25,
            offsetX: -5
        },
        responsive: [{
            breakpoint: 600,
            options: {
                chart: {
                    toolbar: {
                        show: false
                    }
                },
                legend: {
                    show: false
                },
            }
        }]
    }

    var chart = new ApexCharts(
        document.querySelector("#line_chart_datalabel"),
        options
    );

    chart.render();
</script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>


