<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="AGENTS_PATH" value="D:/test_center/agents.json" />
    <add key="DEVICES_PATH" value="D:/test_center/devices.csv" />
    <add key="AWS_SERVICES_PATH" value="D:/test_center/aws_services.json" />
    <add key="AWS_INSTANCES_PATH" value="D:/test_center/aws_instances.json" />
    <add key="ACTIVATION_SCRIPT_PATH" value="D:/test_center/self_activation_script.txt" />
    <add key="LOG_FILE_PATH" value="D:/test_center/logfile.txt" />
    <add key="OUTPUT" value="D:/test_center/output.txt" />
    <add key="RETURN_CODE" value="D:/test_center/return_code.txt" />
    <add key="SCRIPT_RESULTS_PATH" value="D:/test_center/script_results.json" />
    <add key="COMPARISON_RESULTS_PATH" value="D:/test_center/comparison_results.json" />
    <add key="ENV" value="int" />
    <add key="PYTHON_SCRIPTS_PATH" value="C:/Users/Elad.Kapuza/source/repos/testcenterapi/Console/Python" />
  </appSettings>
</configuration>